        * {
            font-family: Arial, sans-serif !important;
        }
        html, body {
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: black;
        }

        #flash-container {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
            scroll-snap-type: y mandatory; 
        }

        ruffle-player {
            width: 100vw;
            height: 75vw; 
            max-width: 100vh;
            max-height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
